<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <style>
        .errorlist{
            list-style-type: none;
            color: red;
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    
    <form action="" method="POST" novalidate>
        {% csrf_token %}
            {{form.non_field_errors}}
            {% for field in form %}
                <div>
                    {{field.label_tag}} {{field}} <span class="errorlist"> {{field.errors|striptags}}</span>
                </div>
            {% endfor %}
            <input type="submit" value="Submit">
    </form>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {{form.non_field_errors}}
        {% for field in form %}
        <div>
            <span class="errorlist"> {{field.errors|striptags}}</span> {{field.label_tag}} {{field}}
        </div>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>