<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <!-- <form action="" method="get">  
        <table>
            <h1>{{form}}</h1>
        </table>
        <input type="submit" value="Submit">
    
    </form> -->
    <form action="" method="get">
        <h1>{{form}}</h1>
        <input type="submit" value="Submit">
    </form>
    <!-- <form action="" method="get">
        <h1>{{form.table}}</h1>
        <input type="submit" value="Submit">
    </form> -->
    <form action="" method="get">
        <h1>{{form.as_p}}</h1>
        <input type="submit" value="Submit">
    </form>
    <form action="" method="get">
        <h1>{{form.as_ul}}</h1>
        <input type="submit" value="Submit">
    </form>
    <form action="" method="get">
        <table>
            <h1>Name {{form.name}}</h1>
            <h1>Age {{form.age}}</h1>
            <h1>Email {{form.email}}</h1>
        </table>
        <input type="submit" value="Submit">
    
    </form>
</body>
</html>