{% extends 'core/base.html' %}
{% block content %}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom"><i>SERVICES</i></h1>
    
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-searchengin fa-2x mb-3 i-color"></i>
            <h3><i>SEO</i></h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Tempora,neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            <h3><i>Web Design</i></h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Tempora,neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3><i>Web development</i></h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Tempora,neque.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
            <h3><i>Android</i></h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Tempora,neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-3 i-color"></i>
            <h3><i>iOS</i></h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Tempora,neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-rectangle-ad fa-2x mb-3 i-color"></i>
            <h3><i>Advertising</i></h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Tempora,neque.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-3 i-color"></i>
            <h3><i>LOGO Design</i></h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Tempora,neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h3><i>Hosting</i></h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Tempora,neque.</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h3><i>Support</i>></h3>
            <p class="ss-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Tempora,neque.</p>
        </div>
    </div>
</div>
{% endblock content %}